// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// body {
// 	background-color: #fafafa;
// 	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
// }

// navbar syles
// .navbar-brand {
// 	a {
// 		color: white;
// 	}
// }
//
// .navbar-default {
// 	background-color: #009688;
// 	height: 54px;
// 	.navbar-nav li a {
// 		color: white;
// 	}
// }

// article {
//   background-color: pink;
//   padding: 5px 20px;
//   margin: 10px;
// }

// calendar styles
#articles .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#articles #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#articles ul {
  font-size: 11px;
  padding-left: 20px;
}
